nav {
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;

}
.Start {
    display: flex;
    padding-left: 5vw;
    justify-content: flex-start;
    flex: 1 1 20%;
}
.Mid {
    flex: 0 0.3 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: .85rem;
    max-width: 500px;
}
.Patients, .Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign {
    flex: .5 1 25%;
    display: flex;
    justify-content: center;
}
.logIn {
    border: none;
    box-shadow: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding-right: 3vw;
}
.signIn{
    height: 35px;
    width: 80px;
    border-radius: 50px;
    background: #111;
    color: white;
    cursor: pointer;
}