.Card1{
    position:relative;
    width:280px;
    height:150px;
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius:10px;
}
.container{
    display:flex;
    gap:12px;
}
.image{
margin:15px 0px 0px 10px;
    width:60px;
    height:60px;
    background:pink;
    border-radius: 50%;
}

.heading{
  padding-top:12px;
}
.content{
    font-size:14px;
    padding-left:8px;
}
